@import '../../constants.scss';

.button {
  color: $secondary-dark;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.375rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: $border-standard;
  background-color: transparent;

  &.round {
    border-radius: 100px;
  }

  &.active {
    color: $secondary-light;
    background-color: $primary-dark;
  }

  &:last-child {
    margin-right: 0;
  }
}
