@import './constants.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: $primary;

  &:hover {
    color: $primary-dark;
  }
}

.container {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.heading {
  color: $label-color;
  font-size: 36px;
}

.heading-group {
  display: flex;
  flex-direction: row;
}

.options {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;

  .icon {
    width: 40px;
  }

  .content {
    h3 {
      margin-top: 0;
    }

    .button-group {
      // overflow: auto;
    }
  }
}
