@import './constants.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: $primary;

  &:hover {
    color: $primary-dark;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1040px;
  }
}

.button {
  box-sizing: border-box;
  padding: 12px;
  background-color: $primary-dark;
  color: $secondary-light;
  width: calc(25% - 12px);
  height: 42px;
  margin-right: 12px;
  display: inline-block;
  text-align: center;
}

.heading {
  color: $label-color;
  font-size: 36px;
}
